* {
    margin: 0;
    padding: 0;
}


.part-1 {
    height: 100vh;
    background-image: url(source/фон-2.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

.navbar-main {
    padding-top: 10px;
    height: 10vh;
    justify-content: space-between;
    font-size: 18px;
    

}

.navbar-main ul{
    font-size: 18px;
    align-items: center;
}
    
.navbar-main ul li{
    font-size: 22px;
    display:inline-block;
    width:10%;
    text-align: center;
    height: 50px;
    padding: 0;
}

.navbar-main ul li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
}

.navbar-main ul li a:hover {
    color: rgba(255, 255, 255, 0.642) ;
    transition: 200ms ease;
}

.whatsapp-logo {
    width: 30px;
}

.left-nav {
    margin-right: 3vw;
}

.left-nav .logo{
    float: right;
    margin: 15px 15px;
}
.left-nav .number {
    width: 190px;
}

.left-nav .whatsapp {
    width: auto;
}

.right-nav {
    display: inline;
    width: 40vw;
    float: right;
}

.right-nav li {
    float: right;
    width: 20vw;
}

.number {
    padding-right: 3vw;
    line-height: 20px;
}



.title-main-1 {
    height: 90vh;
    text-align: center;
    justify-content: center;
}

.title-main-1 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
    padding-top: 14vh;
}

.title-main-1 h3 {
    font-family: "Cormorant", serif;
    font-size: 28px;
    font-weight: 500;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 6vh;
}

.button-contacts {
    text-align: center;
    justify-content: center;
    margin-top: 15vh;
}

.connection {
    font-family: "Cormorant", serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
    display: inline-block;
    padding: 3vh 2vw;
    border: white 2px solid;
    border-radius: 10px;
}

.connection:hover {
    background-color: rgb(127, 131, 123);
    transition: ease 700ms;
}

.button-contacts {
    text-align: center;
    justify-content: center;
    margin-left: auto;
}


@media (max-width: 1000px) {
    .navbar-main ul li{
        width:15%;
    }
}

@media (max-width: 710px) {
    .navbar-main ul li{
        width:18%;
    }

    .title-main-1 h1 {
        padding-top: 10vh;
    }
}

@media (max-width: 570px) {
    .navbar-main ul li{
        width:22%;
    }

    .logo.number {
        display: none;
    }
}

@media (max-width: 1175px) {
    .title-main-1 h2 {
        font-size: 19px;
        font-weight: 500;
        padding: 3vh 2vh;
    }
}




@media (max-width: 600px) {

    .button-contacts {
        text-align: center;
        justify-content: center;
        margin-top: 10vh;
    }

}




/* -------------------------------------------------------PART_2------------------------------------------------------- */




.part-2 {
    height: 135vh;
    color: white;
    background: rgba(0, 0, 0, 0.929)
}

.title-main-2 {
    text-align: center;
}

.part-2 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    padding-top: 10vh;
    margin-bottom: 10vh;
}

.part-2 .tablet {
    display: none;
}

.part-2 .phone {
    display: none;
}

@media (max-width: 1105px) {

    .part-2 .pc {
        display: none;
    }

    .part-2 .tablet {
        display: inline;
    }
}

@media (max-width: 697px) {

    .part-2 .tablet {
        display: none;
    }

    .part-2 .phone {
        display: inline;
    }

    .part-2 {
        height: 122vh;
    }

    .part-2 h1 {
        font-size: 28px;
        padding-top: 6vh;
    }
}

@media (max-width: 550px) {

    .part-2 h1 {
        font-size: 24px;
    }
}

/* -------------------------------------------------------PART_3------------------------------------------------------- */




.part-3 {
    height: 240vh;
    background-image: url(source/фон-3.jpeg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    color: white;
} 

.part-3 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    padding-top: 9vh;
}

.title-main-3 {
    text-align: center;
}

.main-flex-pricing {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10vh;
}

.flex-item {
    margin-top: 6vh;
    margin-right: 4vh;
    margin-left: 4vh;
    text-align: center;
    height: 54vh;
    border: white 2px solid;
    border-radius: 10px;
}

.flex-item img {
    height: 36vh;
    width: 16vw;
    margin-top: 3vh;
    border: white 2px solid;
    border-radius: 10px;
}

.flex-item h3 {
    font-family: "Cormorant", serif;
    font-size: 24px;
}

.nameing-flex {
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.flex-text {
    width: 80vw;
    text-align: center;
    font-family: "Cormorant", serif;
}

@media (max-width: 1105px) {

    .part-3 {
        height: 370vh;
    }

    .flex-item {
        width: 30vw;
        height: 55vh;
    }

    .flex-item h3 {
        font-family: "Cormorant", serif;
        font-size: 28px;
    }

    .flex-item img {
        width: 21vw;
    }
}

@media (max-width: 855px) {

    .part-3 {
        height: 585vh;
    }

    .flex-item {
        width: 50vw;
        height: 50vh;
    }

    .flex-item h3 {
        font-family: "Cormorant", serif;
        font-size: 24px;
    }

    .flex-item img {
        width: 30vw;
        height: 32vh;
    }
}

@media (max-width: 600px) {

    .part-3 {
        height: 565vh;
    }

    .flex-item {
        width: 60vw;
        height: 48vh;
    }

    .flex-item h3 {
        font-family: "Cormorant", serif;
        font-size: 24px;
    }

    .flex-item img {
        width: 40vw;
        height: 32vh;
    }
}




/* -------------------------------------------------------PART_4------------------------------------------------------- */




.part-4 {
    height: 360vh;
    color: white;
    background: rgba(0, 0, 0, 0.929);
    justify-content: center;
    text-align: center;
} 

.part-4 .title-main-4 {
    text-align: center;
}

.part-4 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    padding-top: 10vh;
}

.collages {
    margin-top: 5vh;
}

.collages img{
    width: 70vw;
    text-align: center;
    border: white 2px solid;
    border-radius: 10px;
    margin: 2vh 0;
}

.reviews h2 {
    margin-top: 15vh;
    margin-bottom: 5vh;

}

.reviews a{
    font-family: "Cormorant", serif;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 3vh 1vw;
    border: white 2px solid;
    border-radius: 10px;
    font-size: 20px;
}

.reviews a:hover {
    background-color: rgb(127, 131, 123);
    transition: ease 700ms;
}


@media (max-width: 1350px) {
    .part-4 {
        height: 335vh;
    }
}

@media (max-width: 1200px) {
    .part-4 {
        height: 305vh;
    }
}

@media (max-width: 1040px) {
    .part-4 {
        height: 275vh;
    }
}

@media (max-width: 920px) {
    .part-4 {
        height: 250vh;
    }
}

@media (max-width: 820px) {
    .part-4 {
        height: 230vh;
    }

    .reviews a h3{
        font-size: 20px;
    }

}

@media (max-width: 680px) {
    .part-4 {
        height: 200vh;
    }
}

@media (max-width: 580px) {
    .part-4 {
        height: 190vh;
    }
}

@media (max-width: 520px) {
    .part-4 {
        height: 185vh;
    }

    .reviews a h3{
        font-size: 17px;
    }

}








/* -------------------------------------------------------PART_5------------------------------------------------------- */




.part-5 {
    background: white;
    height: 65vh;
    color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.part-5 .contacts-5 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    padding-top: 8vh;
    margin-top: 8vh;
}

.part-5 h3 {
    font-size: 23px;
    font-weight: 400;
}

.number-5 {
    margin-top: 4vh;
}

.part-5 .accaounts-5 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    margin-top: 8vh;
}

.networks {
    margin-top: 3vh;
} 

.networks img {
    width: 30px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.german-5 a {
    text-decoration: none;
    color: black;
}

.account:hover {
    color: rgb(133, 138, 129);
    transition: ease 300ms;
}